.button-nav {
  background-color: #F2D7D9; /* El color rosado suave */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap; /* Evita que el texto se parta en dos líneas */
}

.button-nav:hover {
    background-color: rgb(223, 204, 204);
    /* Un poco más claro al pasar el ratón */
}