@import "tailwindcss";

:root {
    --color-fondo-principal: #FBEFEF;
    --color-texto-principal: #8C5A66;
    --color-texto-secundario: #9C7A83;
    --color-acento-suave: #E6A8B0;
    --color-fondo-caja: #F3D9DD;
    --btn-accion-fondo: #8C5A66;
    --btn-accion-texto: #FFFFFF;
    --btn-accion-hover: #734651;
    --btn-secundario-fondo: #E6A8B0;
    --btn-secundario-texto: #8C5A66;
    --btn-secundario-hover: #D98C98;
}

body {
    background-color: var(--color-fondo-principal);
    color: var(--color-texto-principal);
    font-family: sans-serif;
}

h1,
h2,
h3 {
    color: var(--color-texto-principal);
}